body {
  min-height: 2000px;

  font-family: 'Anaheim', sans-serif;
}
.navbar {
  background-color: #393232;
}
.navbar-brand {
  color: white;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #4d4545;
}

.jumbotron img {
  width: 300px;
}

.determinate {
  color: #ed8d8d;
}

#contact {
  background-color: #4d4545;
}

.cover {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.member-meta {
  padding: 15px;
}

.member-meta h5 {
  color: #ed8d8d;
  margin: 0 0 5px;
}

.member-meta span {
  color: #ed8d8d;
  font-size: 12px;
}

.border {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 30%;
}
.color {
  color: #ed8d8d;
}

.card-body p {
  color: #ed8d8d;
}

.card {
  background-color: #292f36;
}

.post-meta > span {
  color: #666;
  border-right: 1px solid #dedede;
  display: inline-block;
  font-size: 13px;
  margin: 10px 10px 0 0;
  padding-right: 10px;
}
